<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ksnx3684.chatting.user.UserDAO">
	<insert id="join" parameterType="UserDTO">
		INSERT INTO CHAT_USER (ID, PW, NAME, GENDER)
		VALUES (#{id}, #{pw}, #{name}, #{gender})
	</insert>
	<delete id="withdrawal" parameterType="UserDTO">
		DELETE CHAT_USER WHERE ID = #{id}
	</delete>
	<select id="detail" parameterType="UserDTO" resultType="UserDTO">
		SELECT * FROM CHAT_USER WHERE ID = #{id}
	</select>
	<update id="update" parameterType="UserDTO">
		UPDATE CHAT_USER SET PW = #{pw}, NAME = #{name}
	</update>
</mapper>